.card-badge {
    /* 设置文本颜色为白色 */
    color: white;
    /* 设置圆角为5像素 */
    border-radius: 5px;
    /* 添加内边距以增加可读性 */
    padding: 5px 10px;
    /* 设置文本粗体显示 */
    font-weight: bold;
    /* 缩小文本大小 */
    font-size: smaller;
}

.card-badge-green {
    /* 设置背景颜色为绿色 */
    background-color: #4CAF50;
}

.card-badge-orange {
    /* 设置背景颜色为橙色 */
    background-color: orange;
}

.card-badge-blue {
    /* 设置背景颜色为浅蓝色(天蓝色：#00BFFF) */
    background-color: #87CEFA;
}

.card-badge-purple {
    /* 设置背景颜色为紫色 */
    background-color: purple;
}
