/* 电脑UI样式 */
@media screen and (min-width: 1000px) {
    .layout {
        padding-left: 10%;
        padding-right: 10%;
        padding: 0 10%;
    }

    .row {
        display: flex;
        /* 水平居中 */
        justify-content: center;
    }

    .card {
        margin-bottom: 20px; /* 添加下方间隔 */
    }
}

/* 手机UI样式 */
@media screen and (max-width: 600px) {
    .layout {
        padding-left: 7%;
        padding-right: 7%;
        padding: 0 7%;
    }

    .row {
        display: flex;
        /* 水平居中 */
        justify-content: center;
    }

    .card {
        margin-bottom: 10px; /* 添加下方间隔 */
    }
}

/* 小Pad UI样式 */
@media screen and (min-width: 600px) and (max-width: 770px) {
    .layout {
        padding-left: 5%;
        padding-right: 5%;
        padding: 0 5%;
    }

    .row {
        display: flex;
        /* 水平居中 */
        justify-content: center;
    }

    .card {
        margin-bottom: 10px; /* 添加下方间隔 */
    }
}

/* 大Pad UI样式 */
@media screen and (min-width: 770px) and (max-width: 1000px) {
    .row {
        display: flex;
        /* 水平居中 */
        justify-content: center;
    }

    .card {
        margin-bottom: 15px; /* 添加下方间隔 */
    }
}